.line {
  width: 1520px;
  border: none;
  transform: translate(-9px, -8px);
  border-top: 50px solid #81f4fa;
}
.skudki {
  transform: translate(0px, -35px);
  text-align: center;
  font-size: large;
  position: relative;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: center;
}
.procent {
  margin-left: 20px;
  position: absolute;
  font-size: large;
  font-weight: 900;

  transform: translate(870px, -105px);
}
.pryamygol {
  width: 90px;
  height: 40px;
  transform: translate(-12px, 30px);
  position: relative;
  background: #ff5131;
  border-radius: 20px;

  z-index: -1;
}
.eSrortik {
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 30px;
  font-weight: 900px;
  text-align: left;
  transform: translate(20px, 0px);
}

.dropdown {
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  transform: translate(50px, -3px);
}

.dropbtn {
  background-color: yellowgreen;
  color: white;

  font-size: 16px;
  width: 150px;
  height: 40px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
form {
  width: 970px;
  height: 50px;
  margin: auto;
  margin-top: 250px;

  transform: translate(60px, -287px);
}
input {
  padding: 4px 10px;
  font-size: 16px;
}
.search {
  width: 75%;
  height: 30px;
  border-color: black;
  border: 1;
}
.submit {
  width: 70px;
  height: 41px;
  background-color: #1c87c9;
  color: #ffffff;
}
.dost {
  width: 50px;
  height: 50px;
  transform: translate(980px, -350px);
  opacity: 1;
  background-color: inherit;
  padding: 14px 35px;

  cursor: pointer;
  display: inline-block;
  border: none;
}
.img {
  width: 40px;
  height: 40px;
  transform: translate(0px, -20px);
}
.dostaaa {
  transform: translate(-7px, 30px);
}
.kartink {
  display: inline-block;
  transform: translate(190px, -45px);
}
.korz {
  width: 50px;
  height: 50px;
  transform: translate(990px, -350px);
  opacity: 1;
  background-color: inherit;
  padding: 14px 35px;

  cursor: pointer;
  display: inline-block;
  border: none;
}
.pkorz {
  width: 30px;
  height: 30px;
  transform: translate(0px, -15px);
}
.tkorz {
  transform: translate(-7px, 30px);
}
.zakaz {
  width: 50px;
  height: 50px;
  transform: translate(1000px, -350px);
  opacity: 1;
  background-color: inherit;
  padding: 14px 35px;

  cursor: pointer;
  display: inline-block;
  border: none;
}
.pzakaz {
  width: 30px;
  height: 30px;
  transform: translate(0px, -15px);
}
.tzakaz {
  transform: translate(-7px, 30px);
}
.profill {
  width: 50px;
  height: 50px;
  transform: translate(1010px, -350px);
  opacity: 1;
  background-color: inherit;
  padding: 14px 35px;

  cursor: pointer;
  display: inline-block;
  border: none;
}
.pprofill {
  width: 30px;
  height: 30px;
  transform: translate(0px, -15px);
}
.tprofill {
  transform: translate(-15px, 30px);
}
.yce {
  display: inline-block;
  padding: 30px;
  border: none;
  align-items: baseline;
  justify-content: space-between;
  transform: translate(0px, -30px);
}
.prforskidki {
  width: 70px;
  height: 20px;
  transform: translate(-10px, 18px);
  position: relative;
  background: black;
  border-radius: 20px;

  z-index: -1;
}

.skidki {
  font-size: 13px;
  color: white;
  transform: translate(0px, 4px);
}

.butskid {
  width: 50px;
  height: 50px;
  transform: translate(50px, -300px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.shtani {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(90px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.shtani:hover {
  color: rgb(97, 97, 255);
}
.futbolki {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(130px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.futbolki:hover {
  color: rgb(97, 97, 255);
}
.shotri {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(190px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.shotri:hover {
  color: rgb(97, 97, 255);
}
.kofti {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(235px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.kofti:hover {
  color: rgb(97, 97, 255);
}
.deyam {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(280px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.deyam:hover {
  color: rgb(97, 97, 255);
}
.fitnes {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(320px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.fitnes:hover {
  color: rgb(97, 97, 255);
}
.topiki {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(360px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.topiki:hover {
  color: rgb(97, 97, 255);
}

.underA {
  width: 50px;
  height: 50px;
  transform: translate(-630px, -200px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.under {
  width: 150px;
  height: 120px;
}
.mot {
  transform: translate(170px, -300px);
  width: 1145px;
  height: 350px;
}
.slideshow-container {
  transform: translate(170px, -250px);
  display: flex;
  position: absolute;
  max-width: 500px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50;
  display: inline-block;
  transform: background-color 0.6s ease;
}
.active,
dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 4;
  }
  to {
    opacity: 1;
  }
}
.numbertext {
  transform: translate(0px, 30px);
}
.nazvanie {
  font-size: 20px;
  height: 10px;
  transform: translate(183px);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.textForKedi {
  font-size: 30px;
  height: 20px;
  white-space: nowrap;
  transform: translate(123px, 45px);
}
.cena {
  white-space: nowrap;
  transform: translate(-175px, 200px);
  font-size: 30px;
  height: 10px;
}
.opisanie {
  transform: translate(50px, 400px);
  width: 10px;
  height: 10px;
}
.opis {
  font-size: 30px;
  letter-spacing: 7px;
}
.prod {
  white-space: nowrap;
  font-size: 18px;
}
.firstJir {
  white-space: nowrap;
  font-weight: 600;
  font-size: 20px;
  transform: translate(60px);
}
.firstniz {
  white-space: nowrap;
  font-size: 18px;
  transform: translate(60px);
}
.secondJir {
  white-space: nowrap;
  font-weight: 600;
  font-size: 20px;
  transform: translate(60px);
}
.secondniz {
  white-space: nowrap;
  font-size: 18px;
  transform: translate(60px);
}
.circle1 {
  background: #456bd9;
  transform: translate(35px, -198px);
  border-radius: 50%;
  height: 6px;
  width: 6px;
}
.circle2 {
  background: #456bd9;
  transform: translate(35px, -100px);
  border-radius: 50%;
  height: 6px;
  width: 6px;
}
.harakter {
  height: 10px;
  position: absolute;
  transform: translate(50px, 600px);
}
.har {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 7px;
  height: 10px;
}
.razModel {
  font-weight: 500;
  font-size: large;
  transform: translate(0px, 50px);
}
.create-line {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, 45px);
}
.parModel {
  transform: translate(0px, 40px);
  font-size: 18px;
  color: grey;
}
.parModelpar {
  transform: translate(396px);
  font-size: 18px;
}
.create-line2 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, 0px);
}
.razmeTovar {
  font-size: 18px;
  color: grey;
}
.razmeTovarRaz {
  transform: translate(396px, -35px);
  font-size: 18px;
}
.create-line3 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, -35px);
}
.osob {
  font-weight: 500;
  font-size: large;
  transform: translate(0px, -30px);
}
.create-line4 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, -25px);
}
.dlina {
  font-size: 18px;
  color: grey;
  transform: translate(0px, -20px);
}
.dlinacifr {
  font-size: 18px;
  transform: translate(396px, -58px);
}
.create-line5 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, -55px);
}
.talia {
  font-size: 18px;
  color: grey;
  transform: translate(0px, -50px);
}
.taliasred {
  font-size: 18px;
  transform: translate(396px, -90px);
}
.create-line6 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, -80px);
}
.showMore {
  transform: translate(0, -60px);
  height: 10px;
}
.poyac {
  font-size: 18px;
  color: grey;
  transform: translate(0px, -15px);
}
#more {
  display: none;
}
.shnyrok {
  font-size: 18px;
  transform: translate(396px, -53px);
}
.create-line7 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, -50px);
}
.objHar {
  font-weight: 500;
  font-size: large;
  transform: translate(0, -40px);
}
.create-line8 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, -30px);
}
.vidSporta {
  font-size: 18px;
  transform: translate(0px, -20px);
  color: grey;
}
.sportStyle {
  font-size: 18px;
  transform: translate(396px, -60px);
}
.create-line9 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, -45px);
}
.pol {
  font-size: 18px;
  color: grey;
  transform: translate(0, -30px);
}
.polMyj {
  font-size: 18px;
  transform: translate(396px, -70px);
}
.create-line10 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, -55px);
}
.sostav{
  font-size: 18px;
  transform: translate(0px,-20px);
}
.create-line11 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, 10px);
}
.matVerh{
    font-size: 18px;
  color: grey;
  transform: translate(0, 40px);
}
.sintKoj{
  font-size: 18px;
  transform: translate(396px, 20px);
}
.create-line12 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, 50px);
}
.matPodklad{
  font-size: 18px;
  color: grey;
  transform:translate(0px,80px);
}


.tekstil{
  font-size: 18px;
  transform: translate(396px,60px);
}

.create-line13 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, 90px);
}



.matPodoshv{
  font-size: 18px;
  color: grey;
  transform: translate(0px,120px);

}

.rezina{
  font-size: 18px;
  transform: translate(396px,100px);
}

.create-line14 {
  width: 770px;
  border-top: 2px solid grey;
  opacity: 50%;
  transform: translate(0px, 130px);
}



.niz {
  width: 1520px;

  transform: translate(-10px, 2000px);
  border-top: 300px solid #137c82;
}

.kompania {
  width: 100px;
  height: 50px;
  font-size: medium;
  transform: translate(170px, 1900px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;

  cursor: pointer;
  color: white;
  border: none;
  border-radius: 0px;
}
.byuInOurSite {
  white-space: nowrap;
  border: inherit;
  height: 10px;
  cursor: pointer;
  background-color: white;
  font-size: large;
  transform: translate(-300px, 200px);
}
.byuInOurSite:hover {
  color: blue;
}
.byuInYandex {
  white-space: nowrap;
  height: 10px;
  width: 200px;
  border: inherit;
  cursor: pointer;
  background-color: white;
  font-size: large;
  transform: translate(-372px, 250px);
}
.byuInYandex:hover {
  color: blue;
}
.FirstPohoj {
  width: 50px;
  height: 50px;
  transform: translate();
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.pohoDjKedi {
  display: flex;
  position: absolute;
  width: 200px;
  transform: translate(150px, 1900px);
}
.PhotoFirstPohoj {
  width: 270px;
  height: 350px;
}
.textPohoj {
  font-weight: 500;
  font-size: 30px;
  transform: translate(150px,1900px);
  width: 100px;
}
.SecondPohoj{
    width: 50px;
  height: 50px;
  transform: translate(235px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.PhotoSecondPohoj{
    width: 270px;
  height: 350px;
}.ThirdPohoj{
    width: 50px;
  height: 50px;
  transform: translate(470px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.PhotoThirdPohoj{
    width: 270px;
  height: 350px;
}
.FourPohoj{
    width: 50px;
  height: 50px;
  transform: translate(705px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.Photo4Pohoj{
    width: 270px;
  height: 350px;
}