.line {
  width: 1520px;
  border: none;
  transform: translate(-9px, -8px);
  border-top: 50px solid #81f4fa;
}
.skudki {
  transform: translate(0px, -35px);
  text-align: center;
  font-size: large;
  position: relative;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: center;
}
.procent {
  margin-left: 20px;
  position: absolute;
  font-size: large;
  font-weight: 900;

  transform: translate(870px, -105px);
}
.pryamygol {
  width: 90px;
  height: 40px;
  transform: translate(-12px, 30px);
  position: relative;
  background: #ff5131;
  border-radius: 20px;

  z-index: -1;
}
.eSrortik {
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 30px;
  font-weight: 900px;
  text-align: left;
  transform: translate(20px, 0px);
}

.dropdown {
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  transform: translate(50px, -3px);
}

.dropbtn {
  background-color: yellowgreen;
  color: white;

  font-size: 16px;
  width: 150px;
  height: 40px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
form {
  width: 970px;
  height: 50px;
  margin: auto;
  margin-top: 250px;

  transform: translate(60px, -287px);
}
input {
  padding: 4px 10px;
  font-size: 16px;
}
.search {
  width: 75%;
  height: 30px;
  border-color: black;
  border: 1;
}
.submit {
  width: 70px;
  height: 41px;
  background-color: #1c87c9;
  color: #ffffff;
}
.dost {
  width: 50px;
  height: 50px;
  transform: translate(980px, -350px);
  opacity: 1;
  background-color: inherit;
  padding: 14px 35px;

  cursor: pointer;
  display: inline-block;
  border: none;
}
.img {
  width: 40px;
  height: 40px;
  transform: translate(0px, -20px);
}
.dostaaa {
  transform: translate(-7px, 30px);
}
.kartink {
  display: inline-block;
  transform: translate(190px, -75px);
}
.korz {
  width: 50px;
  height: 50px;
  transform: translate(990px, -350px);
  opacity: 1;
  background-color: inherit;
  padding: 14px 35px;

  cursor: pointer;
  display: inline-block;
  border: none;
}
.pkorz {
  width: 30px;
  height: 30px;
  transform: translate(0px, -15px);
}
.tkorz {
  transform: translate(-7px, 30px);
}
.zakaz {
  width: 50px;
  height: 50px;
  transform: translate(1000px, -350px);
  opacity: 1;
  background-color: inherit;
  padding: 14px 35px;

  cursor: pointer;
  display: inline-block;
  border: none;
}
.pzakaz {
  width: 30px;
  height: 30px;
  transform: translate(0px, -15px);
}
.tzakaz {
  transform: translate(-7px, 30px);
}
.profill {
  width: 50px;
  height: 50px;
  transform: translate(1010px, -350px);
  opacity: 1;
  background-color: inherit;
  padding: 14px 35px;

  cursor: pointer;
  display: inline-block;
  border: none;
}
.pprofill {
  width: 30px;
  height: 30px;
  transform: translate(0px, -15px);
}
.tprofill {
  transform: translate(-15px, 30px);
}
.yce {
  display: inline-block;
  padding: 30px;
  border: none;
  align-items: baseline;
  justify-content: space-between;
  transform: translate(0px, -50px);
}
.prforskidki {
  width: 70px;
  height: 20px;
  transform: translate(-10px, 18px);
  position: relative;
  background: black;
  border-radius: 20px;

  z-index: -1;
}

.skidki {
  font-size: 13px;
  color: white;
  transform: translate(0px, 4px);
}

.butskid {
  width: 50px;
  height: 50px;
  transform: translate(50px, -300px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.shtani {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(90px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.shtani:hover {
  color: rgb(97, 97, 255);
}
.futbolki {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(130px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.futbolki:hover {
  color: rgb(97, 97, 255);
}
.shotri {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(190px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.shotri:hover {
  color: rgb(97, 97, 255);
}
.kofti {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(235px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.kofti:hover {
  color: rgb(97, 97, 255);
}
.deyam {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(280px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.deyam:hover {
  color: rgb(97, 97, 255);
}
.fitnes {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(320px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.fitnes:hover {
  color: rgb(97, 97, 255);
}
.topiki {
  width: 50px;
  height: 50px;
  font-size: medium;
  transform: translate(360px, -295px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.topiki:hover {
  color: rgb(97, 97, 255);
}
.filaa {
  width: 50px;
  height: 50px;
  transform: translate(-620px, -200px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.fil {
  width: 105px;
  height: 100px;
}
.mot {
  transform: translate(170px, -200px);
  width: 1145px;
  height: 350px;
}
.photoForMenFila {
  width: 370px;
  height: 450px;
}
.forMenFila {
  width: 50px;
  height: 50px;
  transform: translate(730px, 350px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.tForMenFila {
  color: white;
  font-size: 20px;
  transform: translate(870px, 720px);
}
.first {
  height: 10px;

  display: flex;
  position: absolute;
  transform: translate(-560px, -500px);
}
.photoForWomenFila {
  width: 370px;
  height: 450px;
}
.forWomenFila {
  width: 50px;
  height: 50px;
  transform: translate(932px, 350px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.tForWomenFila {
  color: white;
  font-size: 20px;
  transform: translate(1065px, 720px);
}
.photoChildrenFila {
  width: 370px;
  height: 450px;
}
.forChildrenFila {
  width: 50px;
  height: 50px;
  transform: translate(1130px, 350px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.tforChildrenFila {
  color: white;
  font-size: 20px;
  transform: translate(1300px, 720px);
}
.second {
  display: flex;
  position: absolute;
  height: 10px;
  transform: translate(170px, 330px);
}
.photoodejdaFila {
  width: 370px;
  height: 450px;
}
.odejdaFila {
  width: 50px;
  height: 50px;
  transform: translate(0px, 0px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.tOdejdaFila {
  color: white;
  font-size: 20px;
  transform: translate(203px, 370px);
}
.photoObyvFila {
  width: 370px;
  height: 450px;
}
.obyvFila {
  width: 50px;
  height: 50px;
  transform: translate(274px, 0px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.tObyvFila {
  color: white;
  font-size: 20px;
  transform: translate(500px, 370px);
}
.photoAksFila {
  width: 370px;
  height: 450px;
}
.aksFila {
  width: 50px;
  height: 50px;
  transform: translate(560px, 0px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;
  z-index: -1;
  cursor: pointer;

  border: none;
  border-radius: 0px;
}
.tAksFila {
  color: white;
  font-size: 20px;
  transform: translate(750px, 370px);
}
.niz {
  width: 1520px;

  transform: translate(-10px, 800px);
  border-top: 300px solid #137c82;
}

.kompania {
  width: 100px;
  height: 50px;
  font-size: medium;
  transform: translate(170px, 550px);
  opacity: 1;
  background-color: inherit;
  padding: 0px 0px;

  cursor: pointer;
  color: white;
  border: none;
  border-radius: 0px;
}
